@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Smooch&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #606c38;
  font-family: montseract;
  font-size: 20px;
}
.body {
  background-color: #31404e;
}
header {
  background-color: #14213d;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  padding: 3px 17px;
}

li a {
  color: #dbdec96a;
  text-decoration: none;
  border: 1px solid #606c38 transparent;
  border-radius: 12px;
  padding: 10px 25px;
  margin: 3px;
}

.nav {
  background-color: #14213d;
}

.container {
  width: 1000px;
  max-width: 100%;
  min-height: 500px;
  /* margin: 10px auto; */
  padding: 10px;
}

.nav li {
  font-size: 20px;
  list-style: none;
  display: inline-block;
  padding: 20px;
}

span {
  font-size: 1.5em;
}

a:hover {
  background-color: black;
  color: #606c38;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 550px;
  border: 1px solid #212809 transparent;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #15202b;
  border-radius: 20px;
  color: white;
  position: relative;
  left: 350px;
}

.form_1 {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 1000px;
  border: 1px solid #212809 transparent;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #15202b;
  border-radius: 20px;
  color: white;
  position: relative;
  left: 350px;
}

.form_2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 300px;
  border: 1px solid #212809 transparent;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #15202b;
  border-radius: 20px;
  color: white;
  position: relative;
  left: 450px;
}

/* .l_email,
.l_password {
  padding: 60px;
  margin: 20px;
} */
/* .form_label {
  display: inline-block;
  padding: 13px 1px;
  margin: 10px;
  border-radius: 20px;
} */

input {
  border-radius: 9px;
  padding: 8px;
  margin: 8px;
  font-size: 30px;
  /* margin: 1px; */
}

div label {
  display: block;
  font-size: 1em;
  font-weight: 500;
  margin: 5px;
  padding: 2px;
}
#gender,#message{
  border-radius: 10px;
  padding: 7.5px;
  font-size: 0.8em;
}

button {
  background-color: #1c3d53;
  margin: 0px auto;
  margin-top: 20px;
  padding: 9px;
  display: block;
  border-radius: 8px;
}

button a {
  color: antiquewhite;
  text-decoration: none;
}
h1{
    text-align:center
}

.pic{
  border-radius: 45%;
  margin-top: 9px;
  height: 300px;
  width: 300px;
}